<div class="movie-content">
    <div class="container-fluid">
      <div class="row">
          <% @movies.each.with_index(@movies.offset_value + 1) do |movie, index| %>
         <div class="col-md-4">
            <div class="card">
              <iframe src="<%= movie.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="card-body">

                <% if @watched_movies_id.include?(movie.id) %>
                  <%= link_to '視聴済みを解除する', movie_watched_movie_path(movie, movie), method: :delete, remote: true, class:"btn" %>
                  <% else %>
                  <%= link_to '視聴済みにする', movie_watched_movies_path(movie), method: :post, remote: true, class:"btn" %>
                <% end %>

                <h4 class="card-title"><%= "Lv.#{index}：#{movie.title}" %></h4>
              </div>
            </div>
         </div>
          <% end %>
      </div>
    </div>
    <div class="paginate-container">
        <div class="mx-auto" style="width: 400px;">
          <%= paginate @movies %>
        </div>
    </div>
  </div>
