<!DOCTYPE html>
<html>
  <head>
    <title>GyakutenCloneGroup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <header>
    <%= render "layouts/header" %>
    <%= render "layouts/flash_messages" %>
  </header>
  <main style=max-width:<%= controller.controller_name == "texts" && controller.action_name == "index" ? "1300" : "700"%>px;>
    <%= yield %>
  </main>
  <footer>
    <%= render "layouts/footer" %>
  </footer>

  </body>
</html>
